@page
@model GameWebSiteProject.Pages.CommentsModel
@{
}
@using Microsoft.AspNetCore.Http;
<div style="display:flex; flex-direction:row; align-items:center; justify-content:space-evenly; margin-top:50px;">
    <div class="card" style="width:1080px; height:1100px; overflow-y: auto">
        <img class="card-img-top" src="data:image/jpeg; base64, @(Convert.ToBase64String(Model.Image))" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">Author - <strong>@Model.AuthorName</strong> <img class="card-img-top" style="width:80px" src="data:image/jpeg; base64, @(Convert.ToBase64String(Model.AuthorAvatar))" alt="Card image"></p>
            <p class="card-text">It's a @Model.Type</p>
            <span class="label label-primary">Description:</span>
            <p class="card-text" style="max-height: 100px; overflow-y: auto">@Model.Description</p>
            <p class="card-text">Publish date - @Model.DateSent</p>
            <input id="username" value="@HttpContext.Session.GetString("username")" style="display:none" />
            <input id="work" value="@Model.Name" style="display:none" />
            <button id="like" class="btn btn-success"><div id="newlikeamount"><p id="likeamount">Likes @Model.Likes</p></div></button>
        </div>
    </div>
</div>