@page
@model GameWebSiteProject.Pages.user_profileModel
@{
    ViewData["Title"] = "YOUR PROFILE";
}
@using Microsoft.AspNetCore.Http;
<div class="main">
    <div class="profile-wrap">
        <div class="profile-title">
            <div>
                <div class="profile-avatar">
                    <img src="data:image/jpeg; base64, @(Convert.ToBase64String(Model.Avatar))" height="216px" width="384px" />
                </div>               
                <div>
                    <a class="profile-avatar-changebutton" type="button" asp-page="user_profile_edit">Edit profile</a>
                </div>
            </div>
            <div class="profile-name">
                <h1>@HttpContext.Session.GetString("username")</h1>
            </div>
        </div>
        <div class="profile-info">
            <h5 class="age">Nickname in game: @Model.Nickname</h5>
            <h5 class="age">Age: @Model.Age years</h5>
            <h5 class="sex">Sex: @Model.Sex</h5>
        </div>
        <div class="character-box">
            @Model.About
        </div>
    </div>
</div>